# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip

src-tauri/*.exe

# test files
src-tauri/tests/audio/*.srt

.env

docs/.vitepress/cache
docs/.vitepress/dist

*.debug.js
*.debug.map

.cargo
testtikok.md
package-lock.json
temp-coooke.json
image-1.png
image-2.png
image-3.png
image.png
GestCookie.md
ai-captcha-bypass
src-tauri/cublasLt64_12.dll
src-tauri/cudart64_12.dll
src-tauri/cublas64_12.dll
_tmp_kuaishou_fetch.py
_tmp_kuaishou_cdp.py
src-tauri/accounts.toml
